*.pyc
*.DS_Store
operations/init.d/stdout
venv
*.log
lock_dashboard_cacher.lck
stdout
*.swp
.project
.pydevproject
.settings
.elasticbeanstalk/
local
log
.idea
*.db
GoogleNews-vectors-negative300.bin
vectors.bin
training_*h.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignore generated QA pairs
bin/qa_pairs_labeled.json
bin/qa_pairs_unlabeled.json
