*.pyc
*.DS_Store
operations/init.d/stdout
venv
*.log
lock_dashboard_cacher.lck
stdout
*.swp
.project
.pydevproject
.settings
.elasticbeanstalk/
local
log
.idea
*.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
