<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<h1> Buddy bot - by Buddy AI</h1>
<p>Imagine you are viewing Buddy AI website. Ask about Buddy bot or the company. So that we can collect some data. Don't ask irrelevant stuff. Also, it's slow</p>

<ul id="chat_list">
</ul>

<p><font face="arial"><b>You: </b></font>
<input type="text" size="60" name="input" id="msg_input">
<input type="submit" value="Say" id="say_button">
</p>


<script src="static/js/index.js"></script>
</body>
</html>